@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
body{
    /* font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
    font-style:italic;
    */
    font: italic 300 12pt 'Roboto', sans-serif;
    margin: 0;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #612940;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    left: calc(50% - 40px);
    top: 10px; */
}
#logo{
    width: 80px;
}
.nav-item{
    margin: 10px 40px;
}
nav li{
    margin: 10px 30px;
}
nav li a{
    text-decoration: none;
    color: white;
    font-style: normal;
    padding:  15px;
}
nav li a:hover{
    text-decoration: none;
    background-color: #9D6381;
    padding:  20px 15px;
    border-bottom: 3px solid white;
    font-weight: bold;
}
#contenedor{
    background-color: violet;
    height: 60px;
}
#elemento{
    height: 50px;
    position: absolute;
    left: calc(50% - 45px);
    border: black 1px solid;
}
main{
    padding: 40px 100px 188px 200px;
    display: grid;
    grid-template-columns: 25% 60%;
    background-color: #bd9bad;
}
header h1{
    color:#851b52;
}
header p{
    font-style: normal;
    line-height: 2;
}
.sec-nav{
    margin-left: 40px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 40% 40%;
}

.sec-nav li{
    padding:20px;
    list-style: none;
    font-style: normal;
    width: 200px;
    height: 100px;
    border: 3px solid rgb(163, 108, 108);
    background-color: rgba(161, 114, 114, 0.37);
    border-radius: 8px;
}
.sec-nav a{
    text-decoration: none;
    color:#c5116e; 
    font-weight: bold;
}
